#target-canvas {
	background:silver;
	height:70vh;
	width:70%;
	margin:auto;
	background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), 
    	linear-gradient(to bottom, grey 1px, transparent 1px);
	
}